
<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian">
		<!--category-productsr-->
		@* <div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a " href="#sportswear">
						<span class="badge pull-right"><i class="fa fa-plus"></i></span>
						Sportswear
					</a>
				</h4>
			</div>
		
		</div> *@
		

		@* <vc:categories> </vc:categories> *@
	</div><!--/category-products-->

	@* @await Component.InvokeAsync("Categories") *@

	<div class="brands_products">
		<!--brands_products-->
		<h2>Brands</h2>
		<div class="brands-name">
			<ul class="nav nav-pills nav-stacked">
				<li><a href="#"> <span class="pull-right">(50)</span>Acne</a></li>
			
			</ul>
		</div>
	</div><!--/brands_products-->

	

</div>